""" Peewee migrations. """

import datetime as dt
import peewee as pw


def migrate(migrator, database, **kwargs):
    """ Write your migrations here.

    > Model = migrator.orm['name']

    > migrator.create_table(Model)
    > migrator.drop_table(Model, cascade=True)
    > migrator.add_columns(Model, **fields)
    > migrator.change_columns(Model, **fields)
    > migrator.drop_columns(Model, *names, cascade=True)
    > migrator.rename_column(Model, old_name, new_name)
    > migrator.rename_table(Model, new_name)
    > migrator.add_index(Model, *columns, unique=False)
    > migrator.drop_index(Model, index_name)
    > migrator.add_not_null(Model, name)
    > migrator.drop_not_null(Model, name)
    > migrator.add_default(Model, name, default)

    """
